beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
decorator==4.4.2
idna==2.10
-e git+https://github.com/JRainbowOS/MusicMap.git@8bcb4235c9cffbb10938ce823368452052ba1cc1#egg=MusicMap
networkx==2.5
requests==2.25.1
soupsieve==2.1
urllib3==1.26.2
